{% extends 'base.html.twig' %}

{% block subnav %}

    {% include 'menu/subnav.html.twig' %}

{% endblock %}

{% block body %}

<!-- menu list -->
<div class="container">

    <!-- toolbar-->
    {% include 'menu/toolbar.html.twig' %}

    {% if (menus) %}

        {{ form_open() }}

        <div class="row">
            <div class="col-xs-12">
                <table class="table firstIsIcon lastIsIcon">
                    <thead>
                        <tr>
                            <th><i class="check_all ion ion-checkmark"></i></th>
                            <th class="txtUpper">{{ lang('menu.list.name') }}</th>
                            <th class="txtUpper">{{ lang('menu.list.position') }}</th>
                            <th class="txtUpper" style="width: 50px;">{{ lang('menu.list.active') }}</th>
                            <th style="width: 110px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for menu in menus %}
                            <tr id="item_{{ menu.id }}">
                                <td>
                                    <label class="checkboxIcon">
                                        {{ form_checkbox({'name': 'check_item['~menu.id~']', 'class': 'check_item', 'value': 1}) }}
                                        <i class="ion ion-checkmark"></i>
                                        <i class="ion ion-compass"></i>
                                    </label>
                                </td>
                                <td><div class="txtBig">{{ menu.name }}</div></td>
                                <td>{{ attribute(config.menu.positions, menu.position) | default(lang('menu.list.position.default')) }}</td>
                                <td class="text-center">
                                    <span class="superCheck">
                                        <label for="active_{{ menu.id }}"></label>
                                        {{ form_checkbox({'id': 'active_'~menu.id, 'class': 'change_bool', 'data-name': 'active', 'data-actionUrl': admin_url('menu/update_active/'~menu.id)}, 1, menu.active) }}
                                        <span></span>
                                    </span>
                                </td>
                                <td>
                                    <a href="{{ admin_url('menu/edit/'~menu.id) }}"><i class="ion ion-android-create tableActions-edit"></i></a>
                                    <a href="{{ admin_url('menu/delete') }}" rel="{{ menu.id }}" class="deleteRecord" data-confirmMsg="{{ lang('menu.text.confirm_delete') }}"><i class="ion ion-android-delete tableActions-delete"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- margin -->
        <div class="clearfix baseMargin-mini"></div>

        <!-- table bottom -->
        <div class="row tableBottom">
            <div class="col-xs-12 col-sm-4">

                <!-- dropdown actions -->
                <span class="txtUpper">{{ lang('text.checked_items') }}:</span>
                <span class="btn-group dropup nuDropdown">
                    <span data-toggle="dropdown" class="txtBig hoverLine">{{ lang('text.choose') }} <i class="fa fa-angle-up"></i></span>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="submit" name="action" value="delete_checked"><i class="ion ion-android-delete"></i>{{ lang('text.delete') }}</button>
                        </li>
                    </ul>
                </span>

            </div>
            <div class="col-xs-12 col-sm-8 text-right">

                <!-- pagination -->
                <nav>
                    {{ pager | raw }}
                </nav>

            </div>
        </div>

        {{ form_close() }}

    {% else %}

    <div class="alert alert-info">
        {{ lang('menu.text.no_records') }}
    </div>

    {% endif %}

    <!-- margin -->
    <div class="clearfix baseMargin"></div>

</div>

{% endblock %}

{% block javascript %}

    {{ parent() }}
    <script>

        $(document).on("click",'.change_bool',function(){

            var actionUrl = $(this).attr('data-actionUrl').toString();
            var fieldValue = $(this).prop('checked');
            var fieldName = $(this).attr('data-name').toString();

            changeBoolean(actionUrl, fieldValue, fieldName);

        });

    </script>

{% endblock %}