{% extends 'base.html.twig' %}

{% block social_metatags %}

    {{ parent() }}
    
    {% if page.file %}
        
        <meta property="og:image" content="{{ uploads_url(page.file.filename) }}">
        <meta name="twitter:image:src" content="{{ uploads_url(page.file.filename) }}">
        
    {% endif %}

{% endblock %}

{% block body %}

    <div class="container">
        <article class="singlePage">
            <header class="page-header text-center">
                <h1>{{ page.title }}</h1>
            </header>
            <div class="row">
                <div class="col-sm-8">
                    <div class="text">
                        {{ page.content | raw }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-form">
                        {{
                            widget('Form_contact_widget::display', {
                            })
                        }}
                    </div>
                </div>
            </div>
        </article>
    </div><!--/.container-->

{% endblock %}