{% extends 'base.html.twig' %}

{% block navigation %}

    <ul id="nuNavList">
        <li><a href="{{ admin_url('file') }}" class="nuNavActive">{{ lang('file.nav.list') }}</a></li>
    </ul>

{% endblock %}

{% block action_bar_content %}

    {{ form_open(current_url(), 'method="get" id="file-filter-form"') }}

    <div class="row nuActions">

        <div class="col-xs-12 col-sm-5 col-sm-push-7 col-md-4 col-md-push-8 col-lg-4 col-lg-push-8 text-right nuActionsButtonsCol">
            <ul class="nuButtonsList nuButtonsList-padding">
                <li><a href="javascript:void(0);" id="fileFiltersClean" class="btn btn-primary btn-squere"><i class="fa fa-remove"></i></a></li>
                <li><button class="btn btn-success" type="submit"><i class="fa fa-filter"></i> {{ lang('text.filter') }}</button></li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-7 col-sm-pull-5 col-md-8 col-md-pull-4 col-lg-8 col-lg-pull-4">

            <div class="row nuFormInline">
                <div class="col-xs-6 nuFormInlice-col">
                    <div class="form-group">
                        <label for="fil_string">{{ lang('file.filter.label.string') }}</label>
                        {{ form_input({'name': 'string', 'id': 'fil_string', 'class': 'form-control', 'value': input.get('string'), 'placeholder': lang('page.filter.label.string')}) }}
                    </div>
                </div>
            </div>

        </div>

    </div>

    {{ form_close() }}

{% endblock %}

{% block content %}

    <!-- content -->
    <div id="nuManager" class="nuContent nuFormLight">
        <div class="container-fluid nuContainer">

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">

                    <!-- butons -->
                    <div class="nuManager-head">
                        <ul class="nuButtonsList">
                            <li>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0);" id="fileFolderAdd"><i class="fa fa-plus"></i>{{ lang('file.text.add_folder') }}</a></li>
                                        <li><a href="javascript:void(0);" id="fileFolderEdit"><i class="fa fa-pencil"></i>{{ lang('file.text.edit_folder') }}</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="javascript:void(0);" id="fileFolderDelete"><i class="fa fa-trash"></i>{{ lang('file.text.delete_folder') }}</a></li>
                                        <li role="separator" class="divider file_paste_button"{{ show_paste_button ? '' : ' style="display: none;"' }}></li>
                                        <li{{ show_paste_button ? '' : ' style="display: none;"' }} class="file_paste_button"><a href="javascript:void(0);" id="filePaste"><i class="fa fa-clipboard" aria-hidden="true"></i>{{ lang('file.text.paste_files') }}</a></li>
                                    </ul>
                                </div>
                            </li><!--
                            --><li><button class="btn btn-success fileShowUpload" type="button"><i class="fa fa-arrow-down fa-margin"></i>{{ lang('file.text.add_files') }}</button></li>
                        </ul>
                    </div>
                    <!-- /butons -->

                    <!-- tree -->
                    <div>
                        <div id="foldersList">
                            {{ folders_list | raw }}
                        </div>
                    </div>
                    <!-- /tree -->

                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">

                    <div class="nuManager-head">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">

                                <!-- breadcrumb -->
                                {#<ol class="breadcrumb">
                                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                    <li><a href="#">Home</a></li>
                                    <li class="active">Folder</li>
                                </ol>#}
                                <!-- /breadcrumb -->

                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-right">

                                <!-- selected actions -->
                                <ul class="nuButtonsList">
                                    <li>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{ lang('text.checked_items') }} <i class="fa fa-caret-down"></i></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><button type="button" name="action" id="fileDeleteChecked" value="delete_checked"><i class="fa fa-trash"></i>{{ lang('text.delete') }}</button></li>
                                                <li><button type="button" name="action" id="fileCutChecked" value="cut_checked"><i class="fa fa-scissors"></i>{{ lang('file.text.cut') }}</button></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><label class="nuCheck" style="margin-top:3px;"><input type="checkbox" class="checkAll"><span></span></label></li>
                                </ul>
                                <!-- /selected actions -->

                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- fileUploadBox -->
                        <div class="col-xs-12 nuManager-col">
                            <div id="myDropzone" class="dropzone fileUploadBox" style="display: none;">
                                <div class="dz-default dz-message inside">
                                    <i class="fa fa-upload"></i>
                                    <div class="information txtBig">{{ lang('file.text.uploader') }}</div>
                                </div>

                                <div class="myDropzoneClear"><i class="fa fa-times"></i> {{ lang('file.text.clear_files') }}</div>
                            </div>
                        </div>

                    </div>

                    <!-- filesList -->
                    <div id="filesList" class="filesList">
                        {{ files_list | raw }}
                    </div>
                    <!-- /filesList -->

                    {{ form_input({'type': 'hidden', 'name': 'parent_id', 'class': 'form-control', 'id': 'parent_id_hidden', 'value': 0}) }}

                </div>
            </div>

        </div>
    </div>
    <!-- /content -->

{% endblock %}

{% block javascript %}

    {{ parent() }}

    {{ include('file/scripts.html.twig') }}
    
{% endblock %}