<!-- add item buttons -->
<div class="addButtons text-right">
    <button class="btn btn-primary" type="button" data-type="1">{{ lang('menu.text.add_slug') }}</button>
    <button class="btn btn-primary" type="button" data-type="2">{{ lang('menu.text.add_page') }}</button>
</div>

<!-- add item type 1 -->
<div class="form-box addItem type1">

    <div id="menu-add-form-1">

        <!-- margin -->
        <div class="clearfix baseMargin"></div>

        <!-- name -->
        <div class="form-group">
            <label for="add_name_1" class="col-xs-12 control-label">{{ lang('menu.form.name') }}:</label>
            <div class="col-xs-12">
                {{ form_input({'data-name': 'name', 'class': 'form-control add_menu_item_1', 'id': 'add_name_1', 'required': 'required' }) }}
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- target -->
        <div class="form-group">
            <label for="edit_target_2" class="col-xs-12 control-label">{{ lang('menu.form.target') }}:</label>
            <div class="col-xs-12">
                {{ form_dropdown({'data-name': 'target', 'class': 'form-control',  'required': 'required'}, config.menu.targets, '') | raw }}
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- slug -->
        <div class="form-group">
            <label for="add_url_1" class="col-xs-12 control-label">{{ lang('menu.form.url') }}:</label>
            <div class="col-xs-12">
                {{ form_input({'data-name': 'url', 'class': 'form-control add_menu_item_1', 'id': 'add_url_1', 'required': 'required' }) }}
            </div>
            <div class="clearfix"></div>
        </div>
            
        <div class="actionsButtons text-right">
            <button type="button" class="btn btn-primary btn-square closeAddItem"><i class="fa fa-remove"></i></button>
            <button type="button" class="btn btn-success menuAdd" data-menu_type="1"><i class="fa fa-check"></i> {{ lang('text.add') }}</button>
        </div>

        
        {{ form_input({'type': 'hidden', 'data-name': 'type', 'value': 1})}}
        {{ form_input({'type': 'hidden', 'data-name': 'type_ico', 'value': 'fa fa-link ico'})}}

    </div><!--/menu-add-form-1-->

</div><!--/.addItem type1-->

<!-- add item type 2 -->
<div class="form-box addItem type2">

    <div id="menu-add-form-2">

        <!-- margin -->
        <div class="clearfix baseMargin"></div>

        <!-- name -->
        <div class="form-group">
            <label for="add_name_2" class="col-xs-12 control-label">{{ lang('menu.form.name') }}:</label>
            <div class="col-xs-12">
                {{ form_input({'data-name': 'name', 'class': 'form-control add_menu_item_2', 'id': 'add_name_2', 'required': 'required' }) }}
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- target -->
        <div class="form-group">
            <label for="edit_target_2" class="col-xs-12 control-label">{{ lang('menu.form.target') }}:</label>
            <div class="col-xs-12">
                {{ form_dropdown({'data-name': 'target', 'class': 'form-control', 'required': 'required'}, config.menu.targets, '') | raw }}
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- primary_key -->
        <div class="form-group">
            <label for="add_url_1" class="col-xs-12 control-label">{{ lang('menu.form.page') }}:</label>
            <div class="col-xs-12">
                {{ form_dropdown({'data-name': 'primary_key', 'class': 'form-control add_menu_item_2', 'required': 'required'}, pages_options) | raw }}
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="actionsButtons text-right">
            <button type="button" class="btn btn-primary closeAddItem"><i class="fa fa-remove"></i></button>
            <button type="button" class="btn btn-success menuAdd" data-menu_type="2"><i class="fa fa-check"></i> {{ lang('text.add') }}</button>
        </div>

        {{ form_input({'type': 'hidden', 'data-name': 'type', 'value': 2})}}
        {{ form_input({'type': 'hidden', 'data-name': 'type_ico', 'value': 'fa fa-file ico'})}}

    </div><!--/menu-add-form-2-->

</div><!--/.addItem type2-->