<!-- add item buttons -->
<div class="addButtons text-right">
    <button class="btn btn-orange" type="button" data-type="1">{{ lang('menu.text.add_slug') }}</button>
    <button class="btn btn-orange" type="button" data-type="2">{{ lang('menu.text.add_page') }}</button>
</div>

<div class="form-box">

    <!-- add item type 1 -->
    <div class="addItem type1">

        {{ form_open(current_full_url(), {'id': 'menu-add-form-1', 'class': 'form-horizontal', 'novalidate': 'novalidate'}) }}

        <div class="actionsButtons text-right">
            <button type="button" class="btn btn-default btn-sm closeAddItem">{{ lang('text.cancel') }}</button>
            <button type="button" class="btn btn-save btn-sm menuAdd" data-menu_type="1">{{ lang('text.add') }}</button>
        </div>

        <!-- margin -->
        <div class="clearfix baseMargin"></div>

        <!-- name -->
        <div class="form-group">
            <label for="add_name_1" class="col-sm-3 control-label">{{ lang('menu.form.name') }}:</label>
            <div class="col-sm-9">
                {{ form_input({'name': 'name', 'class': 'form-control add_menu_item_1', 'id': 'add_name_1', 'required': 'required' }) }}
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- target -->
        <div class="form-group">
            <label for="edit_target_2" class="col-sm-3 control-label">{{ lang('menu.form.target') }}:</label>
            <div class="col-sm-9">
                {{ form_nu_dropdown({'class': 'form-control', 'name': 'target', 'required': 'required'}, config.menu.targets, '') | raw }}
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- slug -->
        <div class="form-group">
            <label for="add_slug_1" class="col-sm-3 control-label">{{ lang('menu.form.slug') }}:</label>
            <div class="col-sm-9">
                {{ form_input({'name': 'slug', 'class': 'form-control add_menu_item_1', 'id': 'add_slug_1', 'required': 'required' }) }}
            </div>
            <div class="clearfix"></div>
        </div>

        {{ form_hidden('type', 1) }}
        {{ form_hidden('type_ico', 'fa fa-link ico') }}

        {{ form_close() }}

    </div><!--/.addItem type1-->

    <!-- add item type 2 -->
    <div class="addItem type2">

        {{ form_open(current_full_url(), {'id': 'menu-add-form-2', 'class': 'form-horizontal', 'novalidate': 'novalidate'}) }}

        <div class="actionsButtons text-right">
            <button type="button" class="btn btn-default btn-sm closeAddItem">{{ lang('text.cancel') }}</button>
            <button type="button" class="btn btn-save btn-sm menuAdd" data-menu_type="2">{{ lang('text.add') }}</button>
        </div>

        <!-- margin -->
        <div class="clearfix baseMargin"></div>

        <!-- name -->
        <div class="form-group">
            <label for="add_name_2" class="col-sm-3 control-label">{{ lang('menu.form.name') }}:</label>
            <div class="col-sm-9">
                {{ form_input({'name': 'name', 'class': 'form-control add_menu_item_2', 'id': 'add_name_2', 'required': 'required' }) }}
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- target -->
        <div class="form-group">
            <label for="edit_target_2" class="col-sm-3 control-label">{{ lang('menu.form.target') }}:</label>
            <div class="col-sm-9">
                {{ form_nu_dropdown({'class': 'form-control', 'name': 'target', 'required': 'required'}, config.menu.targets, '') | raw }}
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- primary_key -->
        <div class="form-group">
            <label for="add_url_1" class="col-sm-3 control-label">{{ lang('menu.form.page') }}:</label>
            <div class="col-sm-9">
                {{ form_nu_dropdown({'class': 'form-control add_menu_item_2', 'name': 'primary_key', 'required': 'required'}, pages_options) | raw }}
            </div>
            <div class="clearfix"></div>
        </div>

        {{ form_hidden('type', 2) }}
        {{ form_hidden('type_ico', 'fa fa-file-o ico') }}

        {{ form_close() }}

    </div><!--/.addItem type2-->
    
</div><!--/.form-box-->