{% macro select_categories_tree(categories, key, level, selected) %}

    {% for category in attribute(categories, key) %}
        
        {% set selectedClass = (selected == category.news_category_id) ? ' selected' : '' %}

        <option value="{{ category.news_category_id }}"{{ selectedClass }}>
            {% if level > 0 %}

                {% for i in 1..level %}--{% endfor %}

            {% endif %}
            {{ category.name }}
        </option>
        
        {% if attribute(categories, category.news_category_id) %}

            {{ _self.select_categories_tree(categories, category.news_category_id, level + 1) }}

        {% endif %}
        
    {% endfor %}
    
{% endmacro %}

{% import _self as tree %}

{{ form_open(admin_url('news-category'), {'id': 'news_category-add-form', 'novalidate': 'novalidate'}) }}
                
<div class="modal fade" id="newsCategoryEditModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ lang('news_category.nav.add') }}</h4>
            </div>
            <div class="modal-body">
                    
                <!-- name -->
                <div class="form-group">
                    <label for="edit_name">{{ lang('news_category.form.name') }}</label>
                    {{
                        form_input({
                            'name': 'name',
                            'value': news_category.name,
                            'class': 'form-control',
                            'id': 'edit_name'
                        })
                    }}
                </div>
                <!-- /name -->
                
                <!-- active -->
                <div class="form-group">
                    <div class="nuCheckbox-single" style="border: none;">
                        <label for="edit_active">{{ lang('news.form.active') }}:</label>
                        <label class="nuSwitch" for="edit_active">
                            {{ form_checkbox({'id': 'edit_active', 'name': 'active'}, 1, news_category.active) }}
                            <span></span>
                        </label>
                    </div>
                </div>
                <!-- /active -->
                
                <!-- parent_id -->
                <div class="form-group">
                    <label>{{ lang('news_category.form.parent_id') }}</label>
                    <select name="parent_id" class="form-control">
                        <option value="">--</option>
                        {{ tree.select_categories_tree(news_categories, 0, 0, news_category.parent_id) }}
                    </select>
                </div>
                <!-- /parent_id -->
                
                <!-- slug -->
                <div class="form-group">
                    <label for="edit_slug">{{ lang('news.form.slug') }}</label>
                    {{
                        form_input({
                            'name': 'slug',
                            'value': news_category.route.slug,
                            'class': 'form-control',
                            'id': 'slug'
                        })
                    }}
                </div>
                <!-- /slug -->
                
                <!-- meta_title -->
                <div class="form-group">
                    <label for="edit_meta_title">{{ lang('news.form.meta_title') }}</label>
                    {{
                        form_input({
                            'name': 'meta_title',
                            'value': news_category.meta_title,
                            'class': 'form-control',
                            'id': 'edit_meta_title'
                        })
                    }}
                </div>
                <!-- /meta_title -->
                
                <!-- meta_keywords -->
                <div class="form-group">
                    <label for="edit_meta_keywords">{{ lang('news.form.meta_keywords') }}</label>
                    {{
                        form_input({
                            'name': 'meta_keywords',
                            'value': news_category.meta_keywords,
                            'class': 'form-control',
                            'id': 'edit_meta_keywords'
                        })
                    }}
                </div>
                <!-- /meta_keywords -->
                
                <!-- meta_description -->
                <div class="form-group">
                    <label for="edit_meta_description">{{ lang('news.form.meta_description') }}</label>
                    {{
                        form_textarea({
                            'name': 'meta_description',
                            'value': news_category.meta_description,
                            'class': 'form-control',
                            'id': 'edit_meta_description'
                        })
                    }}
                </div>
                <!-- /meta_description -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ lang('text.cancel') }}</button>
                <button type="submit" class="btn btn-success" name="edit" value="1">{{ lang('text.save') }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{ form_hidden('news_category_id', news_category.news_category_id) }}
{{ form_hidden('locale', news_category.locale) }}
{{ form_hidden('route_id', news_category.route_id) }}

{{ form_close() }}