{% extends 'base.html.twig' %}

{% block navigation %}

    <ul id="nuNavList">
        <li><a href="{{ admin_url('page') }}">{{ lang('page.nav.list') }}</a></li>
        <li><a href="{{ admin_url('page/add') }}">{{ lang('page.nav.add') }}</a></li>
        <li><a href="{{ admin_url('page/edit/'~page.id) }}" class="nuNavActive">{{ lang('page.nav.edit') }}</a></li>
    </ul>

{% endblock %}

{% block body %}

    {{ form_open(current_full_url(), {'id': 'page-edit-form', 'novalidate': 'novalidate'}) }}

    <!-- head -->
    <div id="nuActionbar" class="nuFormDark">
        <div class="container-fluid nuContainer">

            <div class="row nuActions nuActions-small">

                <div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-5 col-md-push-7 col-lg-4 col-lg-push-8 text-right nuActionsButtonsCol">
                    <ul class="nuButtonsList">
                        <li><a href="{{ site_url(page.slug~'?preview=1&token='~page.token) }}" target="_blank" class="btn btn-primary btn-squere"><i class="fa fa-eye"></i></a></li><!--
                        --><li><a href="{{ admin_url('page/delete') }}" rel="{{ page.page_id }}" class="btn btn-primary btn-squere deleteRecord" data-confirmMsg="{{ lang('page.text.confirm_delete') }}" data-redirectUrl="{{ admin_url('page') }}"><i class="fa fa-trash"></i></a></li><!--
                        --><li><button class="btn btn-success" type="submit"><i class="fa fa-check"></i> {{ lang('text.save') }}</button></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-7 col-md-pull-5 col-lg-8 col-lg-pull-4">

                    <!-- title/lang fields -->
                    <div class="input-group nuFormTitle">
                        <a class="btn btn-primary nuFormBack" href="{{ return_link }}" role="button"><i class="fa fa-angle-left"></i></a>
                        {% include('components/lang_select.html.twig') %}
                        {{ form_input({'name': 'title', 'value': page.title, 'class': 'form-control', 'id': 'title', 'placeholder': lang('page.form.title'), 'required': 'required'}) }}
                    </div>
                    <!-- /title/lang fields -->

                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">

                    <!-- Nav tabs -->
                    <ul id="nuActionsTabs" class="nav nav-pills" role="tablist">
                        <li role="presentation" class="active"><a href="#settings" role="tab" data-toggle="tab">{{ lang('page.tabs.settings') }}</a></li>
                        <li role="presentation"><a href="#modules" role="tab" data-toggle="tab">{{ lang('page.tabs.modules') }}</a></li>
                    </ul>
                    <!-- /Nav tabs -->

                </div>
            </div>

        </div>
    </div>

    <div id="nuEditPage" class="nuContent nuFormLight">
        <div class="container-fluid nuContainer tab-content">

            <div class="row tab-pane fade in active" role="tabpanel" id="settings">
                <div class="col-xs-12 col-sm-12 col-md-4 col-margin">

                    <!-- header without line -->
                    <div class="nuHead">{{ lang('page.head.seo') }}:</div>
                    <!-- /header -->

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="editCircle">
                                <svg class="circle" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 283.5 283.5" style="enable-background:new 0 0 283.5 283.5;" xml:space="preserve">
                                <circle class="nuCircle_bg" cx="141.7" cy="141.7" r="122"></circle>
                                <circle data-nucircle-id="xyz" data-nucircle-type="circle" data-nucircle-value="{{ page.seo_progress }}" class="nuCircle_main" cx="141.7" cy="141.7" r="122"></circle>
                                </svg>
                                <div class="circlePercent" data-nucircle-id="xyz" data-nucircle-type="div" data-nucircle-value="{{ page.seo_progress }}">{{ page.seo_progress }}</div>
                            </div>
                            <div class="editSeo">
                                {{ page.seo_progress_msg | raw }}
                            </div>
                        </div>
                    </div>

                    <!-- meta_title -->
                    <div class="form-group">
                        <label for="meta_title">
                            <span data-toggle="tooltip" data-placement="top" title="{{ lang('page.form.meta_title.info') }}">
                                {{ lang('page.form.meta_title') }}
                                <i class="fa fa-info-circle"></i>
                            </span>
                        </label>
                        {{ form_input({'name': 'meta_title', 'value': page.meta_title, 'class': 'form-control', 'id': 'meta_title', 'maxlength': 50}) }}
                        <span class="nuFocusLine"></span>
                    </div>
                    <!-- /meta_title -->

                    <!-- meta_keywords -->
                    <div class="form-group">
                        <label for="meta_keywords">
                            <span data-toggle="tooltip" data-placement="top" title="{{ lang('page.form.meta_keywords.info') }}">
                                {{ lang('page.form.meta_keywords') }}
                                <i class="fa fa-info-circle"></i>
                            </span>
                        </label>
                        {{ form_input({'name': 'meta_keywords', 'value': page.meta_keywords, 'class': 'form-control', 'id': 'meta_keywords'}) }}
                        <span class="nuFocusLine"></span>
                    </div>
                    <!-- /meta_keywords -->

                    <!-- meta_description -->
                    <div class="form-group">
                        <label for="meta_description">
                            <span data-toggle="tooltip" data-placement="top" title="{{ lang('page.form.meta_description.info') }}">
                                {{ lang('page.form.meta_description') }}
                                <i class="fa fa-info-circle"></i>
                            </span>
                        </label>
                        {{ form_textarea({'name': 'meta_description', 'value': page.meta_description, 'class': 'form-control autoTextarea', 'id': 'meta_description', 'rows': 6, 'maxlength': 160}) }}
                        <span class="nuFocusLine"></span>
                    </div>
                    <!-- /meta_description -->

                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-margin">

                    <!-- header with line -->
                    <div class="nuHead nuHeadLine">{{ lang('page.head.others') }}:</div>
                    <!-- /header -->

                    <!-- active -->
                    <div class="nuCheckbox-single">
                        <label for="active">{{ lang('page.form.active') }}:</label>
                        <label class="nuSwitch" for="active">
                            {{ form_checkbox({'id': 'active', 'name': 'active'}, 1, page.active) }}
                            <span></span>
                        </label>
                    </div>
                    <!-- /active -->

                    <!-- slug -->
                    <div class="form-group">
                        <label for="slug">
                            <span data-toggle="tooltip" data-placement="top" title="{{ lang('page.form.slug.info') }}">
                                {{ lang('page.form.slug') }}
                                <i class="fa fa-info-circle"></i>
                            </span>
                        </label>
                        {{ form_input({'name': 'slug', 'value': page.slug, 'class': 'form-control', 'id': 'slug'}) }}
                        <span class="nuFocusLine"></span>
                    </div>
                    <!-- /slug -->

                    <!-- created_at -->
                    <div class="form-group">
                        <label for="input_created">{{ lang('page.form.created_at') }}:</label>
                        {{ form_input({'name': 'created_at', 'value': page.created_at | date('Y-m-d'), 'class': 'form-control', 'id': 'created_at', 'disabled': true}) }}
                        <span class="nuFocusLine"></span>
                    </div>
                    <!-- /created_at -->

                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-margin">

                    <!-- header with line -->
                    <div class="nuHead nuHeadLine">{{ lang('page.head.photo') }}:</div>
                    <!-- /header -->

                    <div class="photoOutside">
                        {% set opacity_class = page.file ? ' opacity' : '' %}

                        <div id="photoButton" class="photoBox{{ opacity_class }}">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </div>
                        <div id="photoThumb" class="photoThumb">
                            {% if page.file %}
                                <img src="{{ config.upload_folder }}/{{ page.file.filename }}" class="img_responsive">
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>

            <div class="row tab-pane fade" role="tabpanel" id="modules">
                <div class="col-xs-12">
                    {{ form_textarea({'name': 'content', 'value': page.content, 'class': 'form-control', 'id': 'content', 'v-model': 'mapString', 'style': 'display: none;'}) }}
                    <nublox :modules="[{type: 'html', name: 'HTML', icon: 'code'}, {type: 'text', name: 'Text', icon: 'file-text-o'}, {type: 'icon', name: 'Icon', icon: 'fire'}]"></nublox>
                </div>
            </div>

        </div>
    </div><!--/#nuEditPage-->

    <div id="modulesHolder" style="display: none;">
        {% for key, block in page.content_blocks %}

            {{ form_hidden('blocks[' ~ block.hash_id ~ ']', block.json_format) }}

        {% endfor %}
    </div>

    {{ form_hidden('file_id', page.file_id) }}
    {{ form_close() }}

{% endblock %}

{% block javascript %}

    {{ parent() }}

    <script src="{{ asset('js/nublox/nublox.js') }}"></script>
    <script src="{{ asset('js/nublox/nubloxTabs.js') }}"></script>

    <script>

        $(document).on('change', '#page-edit-form', function () {
            showBeforeUnload = true;
        });

        $('#photoButton').nuFileManager({
            singleItem: true,
            dialogUrl: "{{ admin_url('file/modal') }}",
            onAfterAdd: function (files) {

                if (files[0] !== undefined) {

                    // Add thumbnail
                    $('#photoThumb img').remove();
                    $('#photoThumb').append('<img src="' + files[0].src + '" class="img-responsive" alt="">');
                    $('.photoBox').addClass('opacity');

                    // Insert id to hidden input
                    $('input[name="file_id"]').val(files[0].id);
                }
            }
        });

    </script>

{% endblock %}