<ul class="nuDrop-menu">
    {% for key, item in config.admin_menu %}

        <li>
            <a href="{{ admin_url(item.slug) }}">
                <i class="fa {{ item.icon }}" aria-hidden="true"></i>{{ item.name }}
            </a>
            {% if item.submenu %}

                <ul class="nuDrop-submenu">
                    {% for subitem in item.submenu %}

                        <li><a href="{{ admin_url(subitem.slug) }}">{{ subitem.name }}</a>

                        {% endfor %}
                </ul>

            {% endif %}
        </li>

    {% endfor %}

    <li><a href="{{ admin_url('auth/logout') }}"><i class="fa fa-power-off" aria-hidden="true"></i>{{ lang('menu.logout') }}</a></li>
</ul>