{% extends 'base.html.twig' %}

{% macro news_categories_tree(categories, key, level) %}

    {% for category in attribute(categories, key) %}

        <tr id="item_{{ category.news_category_id }}" class="subitem_{{ category.parent_id }} level-{{ level }}">
            <td class="colCheck">
                <label class="nuCheck">
                    {{
                        form_checkbox({
                            'name': 'check_item[' ~ category.news_category_id ~ ']',
                            'value': 1,
                            'class': 'check_item'
                        })
                    }}
                    <span></span>
                </label>
            </td>
            <td class="colGraph">
                <div class="listCircle">
                    <svg class="circle" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 283.5 283.5" style="enable-background:new 0 0 283.5 283.5;" xml:space="preserve">
                        <circle class="nuCircle_bg" cx="141.7" cy="141.7" r="122"/>
                        <circle data-nucircle-id="xyz" data-nucircle-type="circle" data-nucircle-value="{{ category.seo_progress }}" class="nuCircle_main" cx="141.7" cy="141.7" r="122"/>
                    </svg>
                </div>
            </td>
            <td class="colTitle">
                {% if level > 0 %}
                    
                    <span style="margin: 0 10px 0 {{ level * 30 }}px;">-</span>
                    
                {% endif %}
                {{ category.name }}
            </td>
            <td class="colIco">
                <ul class="nuButtonsList">
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="{{ admin_url('news-categories/edit/' ~ category.news_category_id) }}"><i class="fa fa-pencil"></i>Edytuj</a></li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{{ admin_url('news-category/delete') }}" rel="{{ category.news_category_id }}" class="deleteRecord" data-confirmmsg="{{ lang('news_category.text.confirm_delete') }}"><i class="fa fa-trash"></i>{{ lang('text.delete') }}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>

        {% if attribute(categories, category.news_category_id) %}

            {{ _self.news_categories_tree(categories, category.news_category_id, level + 1) }}

        {% endif %}

    {% endfor %}

{% endmacro %}

{% import _self as tree %}

{% block navigation %}

    <ul id="nuNavList">
        <li><a href="{{ admin_url('news') }}">{{ lang('news.nav.list') }}</a></li>
        <li><a href="{{ admin_url('news-category') }}" class="nuNavActive">{{ lang('news_category.nav.list') }}</a></li>
        <li><a id="addNewsCategory" href="{{ admin_url('news-category/add') }}">{{ lang('news_category.nav.add') }}</a></li>
    </ul>

{% endblock %}

{% block action_bar_content %}

    {{ form_open(current_url(), 'method="get"') }}

    <div class="row nuActions">

        <div class="col-xs-12 col-sm-5 col-sm-push-7 col-md-4 col-md-push-8 col-lg-4 col-lg-push-8 text-right nuActionsButtonsCol">
            <ul class="nuButtonsList nuButtonsList-padding">
                <li><a href="{{ admin_url('news-category') }}" class="btn btn-primary btn-squere"><i class="fa fa-remove"></i></a></li>
                <li><button class="btn btn-success" type="submit"><i class="fa fa-filter"></i> {{ lang('text.filter') }}</button></li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-7 col-sm-pull-5 col-md-8 col-md-pull-4 col-lg-8 col-lg-pull-4">

            <div class="row nuFormInline">
                <div class="col-xs-3 nuFormInlice-col">
                    <div class="form-group">
                        <label>{{ lang('news.filter.label.language') }}</label>
                        {{ form_dropdown('locale', obj_to_options_array(config.system_languages, 'locale', 'name'), input.get.locale, 'class="form-control"') }}
                    </div>
                </div>
            </div>

        </div>

    </div>

    {{ form_close() }}

{% endblock %}

{% block content %}

    <!-- content -->
    <div id="nuList" class="nuContent nuFormLight">
        <div class="container-fluid nuContainer">

            {% if (news_categories) %}

                {{ form_open() }}

                <div class="row">
                    <div class="col-xs-12">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th><label class="nuCheck"><input type="checkbox" class="checkAll"><span></span></label></th>
                                    <th></th>
                                    <th>{{ lang('news_category.list.name') }}</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {{ tree.news_categories_tree(news_categories, 0, 0) }}
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="row table-foot">
                    <div class="col-xs-12 col-sm-3 col-md-2">

                        <!-- selected actions -->
                        <ul class="nuButtonsList">
                            <li>
                                <div class="dropup">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{ lang('text.checked_items') }} <i class="fa fa-caret-up"></i></span></button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button type="submit" name="action" value="delete_checked"><i class="fa fa-trash"></i>{{ lang('text.delete') }}</button>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <!-- /selected actions -->

                    </div>
                </div>

                {{ form_close() }}

            {% else %}

                <div class="alert alert-info">
                    {{ lang('news.text.no_records') }}
                </div>

            {% endif %}

        </div>
    </div>
    <!-- /content -->

{% endblock %}