<!-- subnav -->
<div class="container-fluid nuSubnav">
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li>
                    <a href="{{ admin_url('language') }}" {{ subnav_active == 'index' ? 'class="active"' : '' }}>{{ lang('language.subnav.list') }}</a>
                </li>

                {% if subnav_active == 'add' %}
                    <li>
                        <span class="active">
                            {{ lang('language.subnav.add') }} <a href="{{ return_link }}"><i class="ion ion-android-close"></i></a>
                        </span>
                    </li>
                {% elseif (subnav_active == 'edit') %}
                    <li>
                        <a href="{{ admin_url('language/add') }}">{{ lang('language.subnav.add') }}</a>
                    </li>
                    <li>
                        <span class="active">
                            {{ lang('language.subnav.edit') }} <a href="{{ return_link }}"><i class="ion ion-android-close"></i></a>
                        </span>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ admin_url('language/add') }}">{{ lang('language.subnav.add') }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>