{% extends 'base.html.twig' %}

{% block subnav %}

    {% include 'page/subnav.html.twig' %}

{% endblock %}

{% block body %}

    {{ form_open(current_url(), {'id': 'page-add-form', 'class': 'form-horizontal', 'novalidate': 'novalidate'}) }}

    <div class="container">

        <!-- margin -->
        <div class="clearfix baseMargin"></div>

        <div class="row">
            <!-- title -->
            <div class="col-xs-7 col-sm-9 col-md-9 col-lg-10">
                <div class="input-group bigInput">
                    <div class="input-group-addon">{{ lang('page.form.title') }}</div>
                    {{ form_input({'name': 'title', 'value': set_value('title'), 'class': 'form-control', 'id': 'title', 'required': 'required'}) }}
                </div>
            </div>

            <!-- buttons -->
            <div class="col-xs-5 col-sm-3 col-md-3 col-lg-2 text-right">
                <button class="btn btn-save" type="submit"><i class="ion ion-checkmark"></i>{{ lang('text.add') }}</button>
            </div>
        </div>

        <!-- margin -->
        <div class="clearfix baseMargin"></div>

        <div class="row">
            <div class="col-xs-12">
                <div id="nuBlox"></div>
                {{ form_textarea({'name': 'content', 'value': set_value('content'), 'class': 'form-control hidden', 'id': 'content'}) }}
            </div>
        </div>

    </div>

    <!-- margin -->
    <div class="clearfix baseMargin"></div>

    <!-- modules edit -->
    <div class="container-fluid nuModuleEdit">
        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="nuBlox-edit"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- margin -->
    <div class="clearfix baseMargin"></div>

    <!-- page options -->
    <div class="container">

        <div class="row">
            <div class="form-horizontal">
                <div class="col-xs-6">

                    <div class="form-group">
                        <div class="col-sm-4 control-label">{{ lang('page.form.active') }}</div>
                        <div class="col-sm-8">
                            <span class="superCheck">
                                <label for="active"></label>
                                {{ form_checkbox({'id': 'active', 'name': 'active'}, 1, set_value('active')) }}
                                <span></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="slug" class="col-sm-4 control-label">
                            <span data-toggle="tooltip" data-placement="top" title="{{ lang('page.form.slug.info') }}">
                                {{ lang('page.form.slug') }}
                                <i class="fa fa-info-circle"></i>
                            </span>
                        </label>
                        <div class="col-sm-8">
                            {{ form_input({'name': 'slug', 'value': set_value('slug'), 'class': 'form-control', 'id': 'slug'}) }}
                        </div>
                    </div>

                </div>

                <div class="col-xs-6">

                    <div class="form-group">
                        <label for="meta_title" class="col-sm-4 control-label">
                            <span data-toggle="tooltip" data-placement="top" title="{{ lang('page.form.meta_title.info') }}">
                                {{ lang('page.form.meta_title') }}
                                <i class="fa fa-info-circle"></i>
                            </span>
                        </label>
                        <div class="col-sm-8">
                            {{ form_input({'name': 'meta_title', 'value': set_value('meta_title'), 'class': 'form-control', 'id': 'meta_title'}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="meta_keywords" class="col-sm-4 control-label">
                            <span data-toggle="tooltip" data-placement="top" title="{{ lang('page.form.meta_keywords.info') }}">
                                {{ lang('page.form.meta_keywords') }}
                                <i class="fa fa-info-circle"></i>
                            </span>
                        </label>
                        <div class="col-sm-8">
                            {{ form_input({'name': 'meta_keywords', 'value': set_value('meta_keywords'), 'class': 'form-control', 'id': 'meta_keywords'}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="meta_description" class="col-sm-4 control-label">
                            <span data-toggle="tooltip" data-placement="top" title="{{ lang('page.form.meta_description.info') }}">
                                {{ lang('page.form.meta_description') }}
                                <i class="fa fa-info-circle"></i>
                            </span>
                        </label>
                        <div class="col-sm-8">
                            {{ form_textarea({'name': 'meta_description', 'value': set_value('meta_description'), 'class': 'form-control', 'id': 'meta_description', 'rows': 6}) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- margin -->
        <div class="clearfix baseMargin"></div>

        <div class="row">
            <div class="col-xs-12">

                <!-- buttons -->
                <div class="col-xs-12 text-center">
                    <button class="btn btn-save" type="submit"><i class="ion ion-checkmark"></i>{{ lang('text.add') }}</button>
                </div>

            </div>
        </div>

    </div>

    <!-- margin -->
    <div class="clearfix baseMargin"></div>

    {{ form_close() }}

{% endblock %}

{% block javascript %}

    {{ parent() }}

    <!-- nuBlox -->
    <script src="{{ asset('js/nublox/handlebars-v4.0.5.js') }}"></script>
    <script src="{{ asset('js/nublox/jquery.serialize-object.min.js') }}"></script>
    <script src="{{ asset('js/nublox/nu-blox.min.js') }}"></script>

    {{ nublox | raw }}

    <script>
        $('#nuBlox').nuBlox({
            json: '#content', // input or textarea for JSON output
            modules: ['row', 'html', 'icon'], // available modules
            edit: '.nuBlox-edit' // edit modules div - default: lightbox editing
        });
    </script>

{% endblock %}