{% extends 'base.html.twig' %}

{% block navigation %}

    <ul id="nuNavList">
        <li><a href="{{ admin_url('language') }}">{{ lang('language.nav.list') }}</a></li>
        <li><a href="{{ admin_url('language/add') }}" class="nuNavActive">{{ lang('language.nav.add') }}</a></li>
    </ul>

{% endblock %}

{% block body %}

    <!-- content -->
    <div id="nuEditPage" class="nuContent nuFormLight">
        <div class="container-fluid nuContainer tab-content">

            <div class="row tab-pane fade in active" role="tabpanel">
                <div class="col-xs-12 col-margin">

                    <div id="updateProgress">

                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only"></span>
                            </div>
                        </div>

                        <div class="alert alert-info">
                            {{ lang('language.text.in_progress') }}
                        </div>

                    </div><!--/#updateProgress-->

                    <div id="progressDone" style="display: none;">
                        <div class="alert alert-success">{{ lang('langauge.alert.success.update_translations') }}</div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- /content -->

{% endblock %}

{% block javascript %}

    {{ parent() }}

    <script>

        $.post('{{ admin_url('language/update_translations_action/'~language.id) }}', function (response) {

            if (response.result === 2) {
                location.reload();
            }

            if (response.result === 1) {
                $('#updateProgress').hide();
                $('#progressDone').show();
            }

            if (response.result === 0) {
                alert(updateResult.errors);
            }

        });

    </script>

{% endblock %}