{% extends 'base.html.twig' %}

{% block subnav %}

{% include 'user/subnav.html.twig' %}

{% endblock %}

{% block body %}

<!-- page list -->
<div class="container">

    <!-- toolbar-->
    {% include 'user/toolbar.html.twig' %}

    {% if (users) %}

        {{ form_open() }}

        <div class="row">
            <div class="col-xs-12">
                <table class="table firstIsIcon lastIsIcon">
                    <thead>
                        <tr>
                            <th><i class="check_all ion ion-checkmark"></i></th>
                            <th class="txtUpper">{{ lang('user.list.name') }}</th>
                            <th class="txtUpper">{{ lang('user.list.email') }}</th>
                            <th class="txtUpper hidden-xs">{{ lang('user.list.login') }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr id="item_{{ user.id }}">
                                <td>
                                    <label class="checkboxIcon">
                                        {{ form_checkbox({'name': 'check_item['~user.id~']', 'class': 'check_item', 'value': 1}) }}
                                        <i class="ion ion-checkmark"></i>
                                        <i class="ion ion-person"></i>
                                    </label>
                                </td>
                                <td>
                                    <div class="txtBig">{{ user.name }}</div>
                                    {{ attribute(config.users_types, user.type) }}
                                </td>
                                <td>{{ user.email }}</td>
                                <td class="hidden-xs">{{ user.login }}</td>
                                <td>
                                    <a href="{{ admin_url('user/edit/'~user.id) }}"><i class="ion ion-android-create tableActions-edit"></i></a>
                                    <a href="{{ admin_url('user/delete') }}" rel="{{ user.id }}" class="deleteRecord" data-confirmMsg="{{ lang('user.text.confirm_delete') }}"><i class="ion ion-android-delete tableActions-delete"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- margin -->
        <div class="clearfix baseMargin-mini"></div>

        <!-- table bottom -->
        <div class="row tableBottom">
            <div class="col-xs-12 col-sm-4">

                <!-- dropdown actions -->
                <span class="txtUpper">{{ lang('text.checked_items') }}:</span>
                <span class="btn-group dropup nuDropdown">
                    <span data-toggle="dropdown" class="txtBig hoverLine">{{ lang('text.choose') }} <i class="fa fa-angle-up"></i></span>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="submit" name="action" value="delete_checked"><i class="ion ion-android-delete"></i>{{ lang('text.delete') }}</button>
                        </li>
                    </ul>
                </span>

            </div>
            <div class="col-xs-12 col-sm-8 text-right">

                <!-- pagination -->
                <nav>
                    {{ pager | raw }}
                </nav>

            </div>
        </div>

        {{ form_close() }}

    {% else %}

    <div class="alert alert-info">
        {{ lang('user.text.no_records') }}
    </div>

    {% endif %}

    <!-- margin -->
    <div class="clearfix baseMargin"></div>

</div>

{% endblock %}